[submodule "libosmo-abis"]
	path = libosmo-abis
	url = https://github.com/osmocom/libosmo-abis.git
[submodule "libosmo-netif"]
	path = libosmo-netif
	url = https://github.com/osmocom/libosmo-netif.git
[submodule "libosmo-sccp"]
	path = libosmo-sccp
	url = https://github.com/osmocom/libosmo-sccp.git
[submodule "libosmocore"]
	path = libosmocore
	url = https://github.com/osmocom/libosmocore.git
[submodule "libsmpp34"]
	path = libsmpp34
	url = https://github.com/osmocom/libsmpp34.git
[submodule "openbsc"]
	path = openbsc
	url = https://github.com/osmocom/openbsc.git
[submodule "osmo-bts"]
	path = osmo-bts
	url = https://github.com/osmocom/osmo-bts.git
[submodule "osmo-trx"]
	path = osmo-trx
	url = https://github.com/osmocom/osmo-trx.git
[submodule "osmo-pcu"]
	path = osmo-pcu
	url = https://github.com/osmocom/osmo-pcu.git
[submodule "openggsn"]
	path = openggsn
	url = https://github.com/osmocom/openggsn.git
[submodule "osmo-gtp-kernel"]
	path = osmo-gtp-kernel
	url = https://github.com/shingy92/osmo-gtp-kernel.git
